@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

html,
body,
#root {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(20, 20, 20);
}

html {
    overflow-x: hidden;
}

/* Loading */

:root {
    /* --glow-color: hsl(186 100% 69%); */
    --glow-color: hsl(27, 80%, 67%);
}

#loading-page *,
#loading-page *::before,
#loading-page *::after {
    box-sizing: border-box;
}

#loading-page {
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

#loading-container {
    font-family: 'Orbitron', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.glowing-btn {
    z-index: 10;
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 1em;

    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
}

.glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
}

.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
}

.glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}

.glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
}

.glowing-btn:hover .glowing-txt {
    animation: none;
}

.glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
}

.glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}

.glowing-btn:hover:after {
    opacity: 1;
}

@keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 0.1;
    }

    4% {
        opacity: 0.5;
    }

    19% {
        opacity: 0.5;
    }

    21% {
        opacity: 0.1;
    }

    23% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    83% {
        opacity: 0.4;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.1;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0.3;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    72% {
        opacity: 0.2;
    }

    77% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    4% {
        opacity: 0.1;
    }

    8% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .glowing-btn {
        font-size: 0.7em;
    }
}

/* Main Page */

.main-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(20, 20, 20);
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.1);
    z-index: 0;
    transition: background 0.5s ease;
}

.mute-button {
    position: absolute;
    top: 15px;
    right: 80px;
    z-index: 5;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mute-button img {
    width: 40px;
}

.scroll {
    position: absolute;
    bottom: -1%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #ffffff;
}

.content {
    position: relative;
    z-index: 3;
    height: 100%;
    color: rgb(255, 255, 255);
}

.text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 365px;
    z-index: 1;
}

.experience-container {
    position: relative;
    z-index: 2;
    height: 100%;
}

.canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.experience-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(20, 20, 20);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s;
    z-index: 3;
    color: #ffffff;
}

.explore-button {
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    bottom: -369px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
    transition: background-color 0.3s ease;
    font-size: 20px;
    pointer-events: auto;
    width: 220px;
}

.explore-button:hover {
    background-color: rgba(20, 20, 20);
}

.experience-scroll {
    position: absolute;
    bottom: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: #ffffff;
}

.project-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
    box-sizing: border-box;
    background: rgba(20, 20, 20);
    color: #ffffff
}

.project-title {
    font-size: 2em;
}

.project-description {
    max-width: 750px;
    text-align: center;
}

.video-container {
    width: 80%;
    max-width: 950px;
}

.project-video {
    width: 100%;
}

.top-icons,
.bottom-icons {
    position: absolute;
    left: 50%;
    display: flex;
    gap: 10px;
    transform: translateX(-50%);
    z-index: 5;

}

.top-icons a,
.bottom-icons a {
    color: #ffffff;
}

.top-icons {
    top: 15px;
}

.bottom-icons {
    bottom: -1815px;
}

.credit {
    position: absolute;
    bottom: -1880px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    color: #ffffff;
}

/* Pacman */

.custom-button:hover {
    color: yellow;
}

.custom-button {
    font-family: 'Press Start 2P';
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: transparent;
    color: white;
    z-index: 1000;
    color: #E17C0B;
    cursor: pointer;
    border: none;
}

.custom-text {
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    bottom: 300px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    z-index: 1000;
    width: calc(100% - -377px);
    color: #E17C0B;
}

.github-link {
    position: absolute;
    bottom: 430px;
    left: 190px;
    color: #E17C0B;
}

.github-link:hover {
    color: yellow;
}

@media (max-width: 800px) {

    html,
    body,
    #root {
        overflow-x: hidden;
    }

    /* MainPage */

    .mute-button {
        right: 20px;
        top: 10px;
    }

    .top-icons {
        top: 15spx;
    }

    .text-content {
        width: 340px;
        font-size: small;
    }

    .scroll {
        bottom: -4%;
    }

    .experience-container {
        height: 70vh;
        overflow-y: auto;
    }

    .canvas-container,
    .experience-overlay {
        height: 50vh;
    }

    .explore-button {
        bottom: -140px;
        font-size: 15px;
    }

    .experience-scroll {
        bottom: 300px;
    }

    .project-section {
        height: 130%;
    }

    .project-description {
        width: 300px;
        margin-bottom: 2em;
    }

    .bottom-icons {
        bottom: -1350px;
    }

    .credit {
        left: 50%;
        font-size: small;
        bottom: -1420px;
        width: 200px;
    }

    /* Pacman */
    .custom-text {
        bottom: 115px;
        width: calc(100% - -270px);
        font: size 10px;
    }

    .pac-title {
        font-family: 'Press Start 2P', cursive;
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - -100px);
        color: #E17C0B;
    }

    .github-link {
        bottom: 275px;
        left: 110px;

    }

}